<%- include ('nav-css.ejs') %>
<div class ="nav row d-flex justify-content-around">
  <a href="/plants" class="col-2 home">My Plant Journal</a>
  <ul class="col-8 row d-flex justify-content-between mt-3">
    <% if (currentUser) { %>
    <div class="wel">
      <li class ="welcome col-6 badge badge-pill">Welcome <%= currentUser.username %></li>
    </div>
    <li class= "col-4">
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="log-out btn-sml btn-outline-primary" />
      </form>
    </li>
    <% } else { %>
    <li class ="col-6"><a href="/users/new">Sign Up</a></li>
    <li class ="col-4"><a href="/sessions/new">Log In</a></li>
    <% } %>
  </ul>
</div>
